@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.navigation {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  padding: 5px 12px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-interest,
.button-newsletter {
  font-size: 20px;
  line-height: 36px;
}

.button-brown {
background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

/*header styles*/
.navigation {
display: flex;
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-search {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/svg/search.svg);
  background-repeat: no-repeat;
}

.navigation-link-heart {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/svg/heart.svg);
  background-repeat: no-repeat;
}

.like-count {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7db54f;
  border-radius: 50%;
  position: relative;
}

.navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0 auto 20px;
  min-width: 160px;
}

/*main styles*/
.main-welcome {
  height: 485px;
  background-color:#a89696;
  background-image: url(../images/svg/divider.svg), url(../images/main-welcome.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto, cover;
  text-align: center;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.advantages-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list{
  list-style: none;
}

.advantages-list-item{
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-item-light {
  background-color: #82b3d3;
}

.advantages-list-item-dark {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages-list-item-home {
  background-image: url(../images/svg/housing.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages-list-item-food {
  background-image: url(../images/svg/food.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: inherit;
}

.advantages-list-item-souvenirs {
  background-image: url(../images/svg/souvenirs.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages-list-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-list-title-light {
  color: #ffffff;
}

.advantages-list-text-light {
  color: #ffffff;
}

.subscription{
  height: 415px;
  background-color:#8e746a;
  background-image: url(../images/subscription-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.field {
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  background-color: #f2f2f2;
  font-family: inherit;
}

.button-newsletter {
  margin: 0;
  max-width: 332px;
  border-radius: 0 10px 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*catalog styles*/

/*filter form*/
.catalog{
  height: 412px;
  background-color:#8e746a;
  background-image: url(../images/catalog-filter-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
